# Default ignored files
/shelf/
*.class
*.jar
.gradle/
.idea/
.vscode/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
*.xml
*.txt
jrails/bin/
jrails/build/
jrails/src/main/jrails/TryIO.java
books/build/
.DS_Store
