# Default ignored files
/shelf/
*.class
*.jar
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
*.xml
.gradle/
.idea/
books/db.txt
rails/bin/
jrails/bin/
jrails/build/
jrails/src/main/jrails/TryIO.java
books/bin/main/books/BookView.class
books/build/
jrails/*.txt
jrails/src/main/jrails/*.txt
